<h1 class="text-3xl font-bold mb-6 text-center">Danh sách truyện tranh</h1>

<table class="w-full border border-gray-300 text-center shadow-md">

    <thead class="bg-gray-200">
        <tr>
            <th class="p-3">Tên truyện</th>
            <th class="p-3">Tác giả</th>
            <th class="p-3">Năm phát hành</th>
            <th class="p-3">Lượt xem</th>
            <th class="p-3">Ảnh</th>
            <th class="p-3">Ghi chú</th>
            <th class="p-3"></th>
        </tr>
    </thead>

    <tbody>

        @if (stories.length === 0) {
        <tr>
            <td colspan="6" class="p-4 text-red-500 font-semibold">
                Không có truyện nào
            </td>
        </tr>
        }

        @for (story of stories; track story.title) {

        <tr class="border-t hover:bg-gray-100 transition">

            <td class="p-3">{{ story.title }}</td>
            <td class="p-3">{{ story.author }}</td>
            <td class="p-3">{{ story.date }}</td>
            <td class="p-3">{{ story.views }}</td>

            <td class="p-3">
                <img [src]="story.image" class="w-20 mx-auto rounded">
            </td>

            <td class="p-3">
                @if (story.views > 80000) {
                <span class="rainbow-text font-semibold">
                    🔥 Truyện nổi bật
                </span>
                }
            </td>
            <td>
                <button (click)="handlClick(story)" class="border-2 hover:bg-amber-300 rounded-xl w-20">click</button>
            </td>

        </tr>

        }

    </tbody>
</table>